@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root{
    --blue:#5daae9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior:smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
/*nav section*/
header{
    height: 80px;
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #060606;
    padding: 0.1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
}
header .logo{
    font-size: 3rem;
    font-style: italic;
    color:#1843e0;
    font-weight: bold;
    font-family: lapis;
    text-decoration: none;
}
header .navbar a{
    font-size: 2rem;
    font-family: cornflower;
padding: 0 1.5rem;
color: antiquewhite;
text-decoration: none;
}
header .navbar a:hover{
    color: var(--blue);
}
header .icons a{
    font-size: 2rem;
    color:#1843e0;
    margin-left: 0.1rem;
    padding: 0 1.5rem;
}
header .icons a:hover{
    color: #a1215d;
}
header #toggler{
    display: none;
}
header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border: 1rem solid rgba(0,0,0,.3);
    display: none;
}
/*end of nav section*/
/*home section*/
section {
    padding: 2px 7%;
}
.home{
    text-align: center;
    min-height: 100vh;
}
.home .content .background img{
    height: 650px;
    width: 100%;
    margin: 0;
    padding: 0px;
    filter: blur(5px) brightness(40%);
}
.home .content .text{
    text-align: center;
    margin-left: 280px;
    margin-top: -480px;
    position: absolute;
    font-family: "Almendra SC", serif;
    font-weight: bold;
    color: #030116;
    padding: 1rem;
}
.home .content h3{
    font-family: "Almendra SC", serif;
    font-size: 6rem;
    font-weight: 700;
    font-style: italic;
    color: #030116;
}
.home .content span{
    font-size: 3.5rem;
    color:var(--blue);
    padding: 1rem 0;
    line-height: 1.5;
}
.home .content p{
    font-size: 1.5rem;
    color:#999;
    padding: 1rem 0;
    line-height: 1.5;
}
.pricing-plan__button:hover{
    background: #031249;
    color: #ffffff;
}
.btn{
    letter-spacing: 0.02em;
    font-weight: bold;
    display: inline-block;
    margin-top: 1rem;
    border-radius: 1rem;
    background: #03335a;
    padding: 0.5rem 5rem;
    cursor: pointer;
    font-size: 1.7rem;
    background: #031249;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #031249;
}
.btn:hover{
    color: #031249;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #031249;
}
/*end of home section*/
/*about section*/

.heading{
    font-family: "Almendra SC", serif;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: #030116;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(127, 144, 192, 0.18);
}
.heading span{
    color: #031249;
    font-family: "Almendra SC", serif;
}
.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}
.about .row .video-container{
    flex:1 1 40rem;
    position: relative;
    filter: blur(2px);
}
.about .row .video-container video{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
}
.about .row .video-container h3{
position: absolute;
top: 50%;
transform: translateY(-50%);
font-size: 3rem;
color: #333;
background: #fff;
width: 100%;
padding: 1rem 2rem;
text-align: center;
mix-blend-mode: screen;
}
.about .row .content{
    flex: 1 1 40rem;
}
.about .row .content h3{
    font-size: 3rem;
    color: #333;
}
.about .row .content p{
    font-size: 1.5rem;
    color: #9999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}
/*end of about section*/

/*pricing section*/
.pricing-plan-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}
.pricing-plan:hover{
    transition: all .6s ease-out;
    transform: scale(1.1);
}
.pricing-plan{
    width: 270px;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #555555;
    margin: 15px;
}
.pricing-plan--highlighted{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}
.pricing-plan__special-text{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    background: #031249;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}

.pricing-plan__header{
    padding: 25px;
    background: #071a5f;
    color: #ffffff;
}
.pricing-plan__title,
.pricing-plan__summary{
    margin: 0;
    text-align: center;
}
.pricing-plan__title{
    font-size: 1.5em;
    font-weight: 400;
}
.pricing-plan__summary{
    font-size: 1em;
    font-weight: 300;
}
.pricing-plan__description{
    padding: 25px;
}
.pricing-plan__list{
    padding: 0;
    margin: 0;
}
.pricing-plan__feature{
    list-style: none;
    margin: 0;
    padding-left: 25px;
    position: relative;
    font-size: 0.9em;
}
.pricing-plan__feature:not(:last-child){
    margin-bottom: 0.5em;
}
.pricing-plan__feature::before{
    content: "\2714";
    color: #031249;
    position: absolute;
    left: 0;
}
.pricing-plan__actions{
    padding: 25px;
    border-top: 1px solid #eeeeee;
    display: flex;
    flex-direction: column;
}
.pricing-plan__button{
    display: inline-block;
    margin: 15px auto;
    padding: 8px 20px;
    text-decoration: none;
    color: #031249;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #031249;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: bold;
}
.pricing-plan__button:hover{
    background: #031249;
    color: #ffffff;
}
.pricing-plan__cost{
    margin: 0;
    text-align: center;
    font-size: 2em;
    color: #000000;
}
.pricing-plan__text{
    font-size: 0.9em;
    text-align: center;
    margin: 0 0 10px 0;
}
/*end of pricing section*/

/*company information section*/
.about-item{
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: white;
    padding: 80px,30px;
    box-shadow: 0 0 9px rgba(0,0,0.6);
}
.about-item i{
    font-size: 30px;
    margin: 0;
}
.about-item h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.about-item hr{
    width: 46px;
    height: 3px;
    background-color: #5fbff9;
    margin: 0 auto;
    border: none;
}
.about-item p{
    margin-top: 5px;
    font-size: 13px;
    padding: 10px;
}
.about-item:hover{
    background-color: #5fbff9;
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover p{
    color: #fff;
}
.about-item:hover hr{
    background-color: #fff;
}
.about-item:hover i{
    transform: translateY(-20px);
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr{
    transition: all 400ms ease-in-out;
}

/*end of company information section*/

/*contact section*/
.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    background-color: rgb(202, 200, 230);
    background-image: url(/images/contactbg.jpg);
}
.contact .row form{
    flex: 1 1 40rem;
    padding: 0.5rem 1.5rem;
    box-shadow: 0.5rem 0.5rem rgba(0,0,0,0);
    background: #fff;
    border-radius: 5rem;
}
.contact .row .image{
    flex: 1 1 40rem;
}
.contact .row .image img{
    width: 100%;
    border-radius: 35%;
}
.contact .row form .box{
    padding: 0.5rem;
    font-size: 1.5rem;
    color: #333;
    text-transform: none;
    border: .2rem solid rgba(0, 0, 0, .1);
    border-radius: 1.0rem;
    margin: 1.5rem 0;
    width: 70%;
}
.contact .row form .box:focus{
    border-color: var(--blue);
}
.contact .row form textarea{
    height: 15rem;
    resize: none;
}
/*end of contact section

/*footer section*/
.footer{
    background-color: #000;
    margin: 0;
    box-shadow: 0 0 9px rgba(0,0,0.6);
    margin-top: 30px;
    position: absolute;
    width: 100%;
    font-style: italic;
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-left: 30px;

}
.footer .box-container .box{
    flex: 1 1 25rem;
}
.footer .box-container .box h3{
color: #031969;
font-size: 20px;
padding: 2px 0;
margin-top: 3px;
}
.footer .box-container .box a{
    display: block;
    color: #7f7d7d;
    font-size: 13px;
    padding: 0.5rem 0;
    text-decoration: none;

}
.footer .box-container .box a:hover{
color: var(--blue);
text-decoration: underline;
}
/*end of footer section*/







/*media queries*/
@media(max-width:991px){
   html{
    font-size: 55%;
   }
   header{
    padding: 2rem;
   } 
}
@media(max-width:768px){
    header .fa-bars{
        display: block;
    }
    header .navbar{
        position:absolute;
        top: 100%; left: 0; right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background: #fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }
}
@media(max-width:450px){
    html{
     font-size: 50%;
    }
    .heading{
        font-size:3rem;
    }
    }