<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/index.css">
    <script src="https://kit.fontawesome.com/06252b95f2.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <!--header section-->
    <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler"  class="fas fa-bars"></label>
    <a class="logo" href="">Binary Aid</a>
    <nav class="navbar">
        <a href="./index.html">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <a href="/templates/login.html">Login</a>
    </nav>
    <div class="icons">
        <a href=""><i class="fa-solid fa-user"></i></a>
        <a href=""><i class="fa-solid fa-house"></i></a>
        <a href=""><i class="fa-solid fa-phone"></i></a>
    </div>
    </header>
    <!--end of header section-->

    <!--home section-->
    <div class="home" id="home">
<div class="content">
<div class="background"><img src="/images/background.jpg" alt=""></div>
<div  class="text">
<h3>Binary Aid</h3>
<span>Your Trusted Trading Aid Platform</span>
<p>Learning trading has been made easier for you. Learn to trade from Anywhere You Are At Any Time.</p>
<a class="btn" href=""><strong>JOIN US</strong><br><h5>Open an account</h5></a>
</div>
</div>
</div>
    <!--end of home section-->

    <!--about section-->
    <section class="about" id="about">
        <h1 class="heading"><span>About</span> Us</h1>
        <div class="row">
            <div class="video-container">
                <video src="/images/stocks.mp4" loop autoplay muted></video>
                <h3>BinaryAid</h3>
            </div>
            <div class="content">
                <h3>Why choose us?</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat iusto rerum ab? Deserunt exercitationem esse minus voluptas animi, minima quibusdam. Tempora nisi quae facere et tenetur distinctio ut, alias optio!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, ratione repellat corporis unde accusamus neque consectetur dolorem nemo eligendi ullam similique eum. Hic eum similique cum voluptatum eveniet minima? Illo.</p>
                <a href="/templates/aboutus.html" class="btn">Learn more</a>
            </div>
        </div>
    </section>
    <!--end of about section-->

    <!--pricing section-->
    <section><h1 class="heading"><span>Pricing</span> Plan</h1></section>
    <div class="pricing-plan-container">
    <div class="pricing-plan">
        <div class="pricing-plan__header">
            <h1 class="pricing-plan__title">Starter Plan</h1>
            <h2 class="pricing-plan__summary">For those getting started</h2>
        </div>
        <div class="pricing-plan__description">
            <ul class="pricing-plan__list">
                <li class="pricing-plan__feature">Feature #1</li>
                <li class="pricing-plan__feature">Feature #2</li>
                <li class="pricing-plan__feature">Feature #3</li>
            </ul>
        </div>
        <div class="pricing-plan__actions">
            <p class="pricing-plan__cost">$68</p>
            <p class="pricing-plan__text">per month</p>
            <a href="" class="pricing-plan__button">Purchase</a>
            <p class="pricing-plan__text">Minimum spend $816 over 12 months</p>
        </div>
    </div>
    <div class="pricing-plan pricing-plan--highlighted">
        <div class="pricing-plan__special-text">Recommended</div>
        <div class="pricing-plan__header">
            <h1 ckass="pricing-plan__title">Starter Plan</h1>
            <h2 class="pricing-plan__summary">For those getting started</h2>
        </div>
        <div class="pricing-plan__description">
            <ul class="pricing-plan__list">
                <li class="pricing-plan__feature">Feature #1</li>
                <li class="pricing-plan__feature">Feature #2</li>
                <li class="pricing-plan__feature">Feature #3</li>
            </ul>
        </div>
        <div class="pricing-plan__actions">
            <p class="pricing-plan__cost">$68</p>
            <p class="pricing-plan__text">per month</p>
            <a href="" class="pricing-plan__button">Purchase</a>
            <p class="pricing-plan__text">Minimum spend $816 over 12 months</p>
        </div>
    </div>
    <div class="pricing-plan">
        <div class="pricing-plan__header">
            <h1 ckass="pricing-plan__title">Starter Plan</h1>
            <h2 class="pricing-plan__summary">For those getting started</h2>
        </div>
        <div class="pricing-plan__description">
            <ul class="pricing-plan__list">
                <li class="pricing-plan__feature">Feature #1</li>
                <li class="pricing-plan__feature">Feature #2</li>
                <li class="pricing-plan__feature">Feature #3</li>
            </ul>
        </div>
        <div class="pricing-plan__actions">
            <p class="pricing-plan__cost">$68</p>
            <p class="pricing-plan__text">per month</p>
            <a href="" class="pricing-plan__button">Purchase</a>
            <p class="pricing-plan__text">Minimum spend $816 over 12 months</p>
        </div>
    </div>
    </div>
    <!--end of pricing-->
    <!--company information section-->
    <section id="about">
        <h1 class="heading"><span>Learn</span> More</h1>
        <div id="about-2">
            <div class="content-box-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="about-item text-center">
                                <i class="fa-solid fa-circle-info"></i>
                                <h3>How It Works</h3>
                                <hr>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto in perspiciatis temporibus quam odio! Laboriosam, iure facilis alias, suscipit provident velit quia autem maxime explicabo, dolorem beatae? Saepe, excepturi eos?
                                    <a href="/templates/companyinfo.html#howitworks" class="btn">Learn more</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="about-item text-center">
                                <i class="fa-solid fa-comments-dollar"></i>
                                <h3>Investment Options</h3>
                                <hr>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto in perspiciatis temporibus quam odio! Laboriosam, iure facilis alias, suscipit provident velit quia autem maxime explicabo, dolorem beatae? Saepe, excepturi eos?
                                    <a href="/templates/companyinfo.html#investment" class="btn">Learn more</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="about-item text-center">
                                <i class="fa-solid fa-rotate-right"></i>
                                <h3>Referral Program</h3>
                                <hr>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto in perspiciatis temporibus quam odio! Laboriosam, iure facilis alias, suscipit provident velit quia autem maxime explicabo, dolorem beatae? Saepe, excepturi eos?
                                    <a href="/templates/companyinfo.html#referral" class="btn">Learn more</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="about-item text-center">
                                <i class="fa-solid fa-sack-dollar"></i>
                                <h3>Funds Collection</h3>
                                <hr>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto temporibus quam odio! Laboriosam, iure facilis alias, iure facilis suscipit provident velit quia autem beatae? Saepe, excepturi eos?</br>
                                    <a href="/templates/companyinfo.html#collection" class="btn">Learn more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end of company information section-->

    <!--contact section-->
    <section class="contact" id="contact">
        <h1 class="heading"><span>Contact</span> Us</h1>
        <div class="row">
            <form action="">
                <input type="text" placeholder="name" class="box">
                <input type="text" placeholder="email" class="box">
                <input type="text" placeholder="number" class="box">
                <textarea name="" class="box" placeholder="message" id="" cols="30" rows="10"></textarea>
                <input type="submit" value="send message" class="btn">
            </form>
            <div class="image">
                <img src="/images/contact.jpg" alt="">
            </div>
        </div>
    </section>
    <!--end of contact section-->

    <!--footer section-->
    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>Contact us</h3>
                <a href="#">binaryaid.gmail.com</a>
                <a href="#">+254722334455</a>
                <a href="#">+254134567890</a>
            </div>
            <div class="box">
                <h3>Company info</h3>
                <a href="">Terms & conditions</a>
                <a href="">Privacy policy</a>
                <a href="">Disclaimer</a>
            </div>
            <div class="box">
                <h3>Quick links</h3>
                <a href="/templates/faqs.html">FAQS</a>
                <a href="/templates/aboutus.html">About</a>
                <a href="/templates/login.html">Account login</a>
            </div>
            <div class="box">
                <h3>Social links</h3>
                <div class="icons">
                    <a href=""><i class="fa-brands fa-square-instagram"></i> Instagram</a>
                    <a href=""><i class="fa-brands fa-facebook"></i> Facebook</a>
                    <a href=""><i class="fa-brands fa-twitter"></i> Twitter</a>
                </div>
            </div>
        </div>
    </section>
    <!--end of footer section-->
</body>
</html>